/* Box sizing rules */
*,
  *::before,
  *::after {
	box-sizing: border-box;
  }

  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
	margin: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
	list-style: none;
  }

  /* Set core root defaults */
  html:focus-within {
	scroll-behavior: smooth;
  }

  :root {
	--main-bg-color: darkslategrey;
	--light-color:#FFFFF0; 
	--text-dark: purple;
	--text-light: white;
	--accent-light: pink;
	--dark: hsl(185, 75%, 39%);
	--very-dark: hsl(229, 23%, 23%);
	--grey: hsl(227, 10%, 46%);
	--neutral: seashell;
  }


  /* Set core body defaults */
  body {
	min-height: 100vh;
	max-width: 100vw;
	text-rendering: optimizeSpeed;
	font-family: system-ui;
	font-size: clamp(1rem, 1.5vw,  30px) ;
	color: var(--text-dark);
	letter-spacing: 0.25em;
	background-color: var(--text-light);
	display: flex;
	flex-direction: column;
	align-content: space-between:
  }

  h1 {
	font-size:clamp(2.5rem, 6vw,  100px);
	line-height: 1em;
	padding-block-end:1em;
  }

  h2, h3 {
	font-size: clamp(1rem, 2vw,  32px) ;
  }

  h3 {
	color: var(--accent-light);
  }

  p {
	line-height: 1.5;
  }

  img {
	width: 4em;
	height: 4em;
	border-radius: 50%;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
	text-decoration-skip-ink: auto;
  }

  /* Make images easier to work with */
  img,
  picture {
	max-width: 100%;
	display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
	font: inherit;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
	html:focus-within {
	  scroll-behavior: auto;
	}

		 *,
		   *::before,
		   *::after {
			 animation-duration: 0.01ms !important;
			 animation-iteration-count: 1 !important;
			 transition-duration: 0.01ms !important;
			 scroll-behavior: auto !important;
		   }
		 }

		 footer {
		   margin-block-start: auto;
		 }

		 .wrapper {
		   margin: 2em 0;
		   min-height: 100vh;
		   display:flex;
		   flex-direction: column;
		   justify-content: center;
		   align-items: center;	
		 }

		 .container {	display: grid;
		   grid-template-columns: 1fr 1fr; 
		   grid-template-rows: 1fr 1fr;
		   width: clamp(320px, 80vw, 2000px);
		 }

		 .first-row {
		   grid-column-start: 1;
		   grid-column-end: 3;
		   grid-row-start: 1;
		   grid-row-end: 2;
		   display:flex;
		   flex-wrap: wrap;
		   gap: 2em;
		 }

		 .first-row > * {
		   flex-grow: 1;
		   flex-basis: 25em;
		   padding-block-end: 2em;

		 }

		 .reviews {	
		   grid-column-start: 1;
		   grid-column-end: 3;
		   grid-row-start: 2;
		   grid-row-end: 3;
		 }

		 .ratings {
		   display: flex;
		   flex-wrap: wrap;
		   flex-direction: column;
		 }

		 .rating {
		   display: flex;
		   flex-wrap: wrap;
		   background-color: var(--neutral);
		   font-size: clamp(1rem, 1vw,  20px) ;
		   margin-block-end: 2em;
		   padding: 2em;
		   border-radius: 1em;
		   gap: 1em;
		   box-shadow: 0 0.25vw 0.5vw  0 rgba(0,0,0,0.2);
		   transition: 0.3s
		 }

		 .rating:hover {
		   box-shadow: 0 0.5vw 1vw  0 rgba(0,0,0,0.2);
		 }

		 .reviews {
		   /* display: flex;
		   flex-wrap: wrap;
		   justify-content: space-between; */
display: grid;
grid-template-columns: repeat(
auto-fit,
minmax(18em, 1fr));
grid-gap: 2rem;
		 }

		 .card {
		   background-color: var(--text-dark);
		   color: var(--text-light);
		   padding: 1em;
		   border-radius: 1em;
		   box-shadow: 0 0.25vw 0.5vw  0 rgba(0,0,0,0.2);
		   transition: 0.3s
		 }


		 .card:hover {
		   box-shadow: 0 0.5vw 1vw  0 rgba(0,0,0,0.2);
		 }

		 .stars {
		   min-width: 8em;
		   display:flex;
		 }
		 .stars img {
		   width: 1.5em;
		   height: 1.5em;
		   margin-top: 0.25em;
		 }


		 .heading {
		   display: flex;
		   gap: 1em;
		   margin-block-end:1em;
		 }

		 .headers {
		   display: flex;
		   flex-wrap: wrap;
		   flex-direction: column;
		 }

